html{
    background: linear-gradient(90deg, #C4B0FF, #8696FE, #65E892);
    background-size: cover;
    height: 100%;
    padding: 10px;
}
h1{
    font-family: 'Rubik Iso', cursive;
    font-size: 4rem;
    font-weight: bold;
    padding: 20px;
}
h2{
    font-family: 'Bungee', cursive;
    font-size: 2rem;
}
#chingamon{
    color: #76f281;
    background-color: rgb(11, 97, 97);
    border-radius: 1rem;
    border: 3px solid aquamarine;
    text-align: center;
    text-justify: auto;
    align-content: center;
    padding: 10px;
}

#descripcion-mascotas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
}
.tipos{
    display: flex;
    gap: 10px;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitulo{
    font-family: 'Bungee', cursive;
    color: teal;
    -webkit-text-stroke: 1px #65E892;
    font-size: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}
.tarjetas{
    display: flex;
    gap: 10px;
    margin: 10px;
}
.tarjeta-de-mokepon{
    background: teal;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 1rem;
    border: 3px solid aquamarine;
    display: flex;
    width: 20rem;
    flex-direction: column;
}
.tarjeta-de-mokepon img{
    border-radius: 2rem;
    max-width:100%;
    height: 100%;
    background-size: auto;
}
input{
    display: none;
}
input:checked + label{
    background: rgb(27, 202, 202);
}
label{
    font-family: 'Lilita One', cursive;
    color: whitesmoke;
    font-weight: bold;
}
p{
    font-family: 'Lilita One', cursive;
    color: rgb(0, 0, 75);
    font-weight: bold;
    font-size: 1.7rem;
}
#boton-mascota{
    width: 30rem;
    padding: 2rem;
    border-radius: 6rem;
    background-color: #76f281;
    color: teal;
    display: block;
    margin-bottom: 4rem;
    margin-top: 20px; 
    font-family: 'Lilita One', cursive; 
    font-size: 2rem;
}
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}
.boton-ataque{
    width: 20rem;
    padding: 2rem;
    border-radius: 6rem;
    background-color: #76f281;
    color: teal;
    display: block;
    margin-bottom: 4rem;
    font-family: 'Lilita One', cursive;
    font-size: 1.7rem;
    margin: 0px 10px 0px 10px;
}
#mensajes{
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 5rem 0rem 3rem 0rem;
    padding: 4rem;
    border-radius: 6rem;
    border: 0.3rem solid black;
    background-color: #8696FE;
    color: #76f281;
    display: flex;
    justify-content: center;
    align-items: center;
}
#resultado{
    background-color: #8696FE;
    color: #76f281;
    font-size: 3rem;

}
#boton-reiniciar{
    width: 20rem;
    padding: 2rem;
    border-radius: 6rem;
    background-color: #76f281;
    color: teal;
    display: block;
    margin-bottom: 4rem;
    font-family: 'Lilita One', cursive;
    font-size: 1.7rem;
    margin: 0px 10px 0px 10px;
}
#reiniciar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.combates{
    display: grid;
    grid-template-columns: 200px 200px;
    text-align: center;
}
#botones-de-ataque{
    display: flex;
}

@media (max-width: 980px){
    .tarjetas{
        flex-direction: column;
    }
    #botones-de-ataque{
        flex-direction: column;
    }
    h1{
        font-family: 'Rubik Iso', cursive;
        font-size: 2rem;
        font-weight: bold;
        padding: 20px;
    }
    #mensajes{
        font-family: 'Lilita One', cursive;
        font-weight: bold;
        font-size: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #resultado{
        font-size: 1rem;
   
    }
    .tipos{
        flex-direction: column;
        text-align: center;
    }
    #boton-mascota{
        width: 13rem;
        padding: 1rem;
        border-radius: 6rem;
        background-color: #76f281;
        color: teal;
        display: block;
        margin-bottom: 4rem;
        font-size: 1rem;
    }

}